.main-body-container {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.image-post {
    margin:10px;
}

img {
    object-fit: cover;
    width:100%;
}

.card-header.title {
    font-weight: bold;
}

.tags {
    color: #0AA9D8;
}

.rest-rating{
    float: left;
    background-color: rgb(192, 192, 50);
    color: white;
}

.rest-avg-price{
    float: right;
}

.images-main-container {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: column;
    
    flex-wrap: wrap;
    /* flex: 1 0 280px; */
    
  }
  
.first-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex: 1 0 380px; */
    
  }
  
  .second-row  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex: 1 0 380px; */
  }
