.logo {
  width: 50px !important;
}

/* Restaurant info */

.restaurant-info {
  width: 100%;
  background: #e6e6e6;
  padding: 30px;
  display: flex;
}

.restaurant-img img {
  width: 300px;
  height: auto;
}

.restaurant-text-info {
  padding-left: 60px;
  width: 700px;
  align-self: center;
}

.restaurant-name {
  font-weight: bold;
  font-size: 35px;
}

.restaurant-locality {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 18px;
}

.restaurant-categories {
  margin-top: 20px;
}

.restaurant-info-footer {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.restaurant-rating-text, .restaurant-avg-cost-text {
  font-size: 13px;
  color: #868686;
}

.restaurant-rating-text > span {
  color: #666666;
  font-weight: bold;
}


.details-bottom {
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}

/* Menu */

.restaurant-menu {
  width: 45%;
}

/* Cart */

.cart {
  width: 45%;
}

.cart-item-quantity {
  padding-right: 150px;
}

.hover-yellow-icon:hover {
  background: yellow !important;
}

@media all and (max-width: 800px) {
  .restaurant-info {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .restaurant-text-info {
    padding: 0;
  }

  .restaurant-text-info {
    width: 100%;
    text-align: center;
  }

  .restaurant-info-footer {
    justify-content: space-around;
  }

  .details-bottom {
    flex-direction: column;
    align-items: center;
  }

  .restaurant-menu, .cart {
    width: 90%;
  }

  .cart-item-quantity {
    padding-right: 0;
  }
}